:root {
  --primary-green: #1dbf73;
  --white-bg: #ffffff;
  --grey-50: #f6f6f6;
  --grey-300: #c3c5c8;
  --grey-400: #8692a6;
  --grey-500: #696f79;
  --grey-800: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdfdfd;
  font-family: Montserrat;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

hr {
  color: var(--grey-50);
  margin: 0;
  opacity: 1;
}

nav {
  background-color: var(--white-bg);
  box-shadow: 0px 4px 26px 0px #c8c8c88c;
  margin-block-end: 64px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.navbar-tab-icon {
  margin-block-end: 8px;
}

.active {
  color: var(--primary-green) !important;
}

.account {
  width: 147px;
  cursor: pointer;

  .account-menu {
    transition: all 250ms ease-in-out;
    box-shadow: 0px 5px 15px 0px #00000033;
    background-color: #ffffff;
    cursor: default;
    width: 320px;
    height: 291px;
    top: calc(100% + 10px);
    right: 0px;
    border-radius: 8px;
    .myprofile-box {
      cursor: pointer;
      margin: 12px 0px 12px 12px;
    }

    .middle-box {
      gap: 14px;
      margin-inline-start: 12.25px;
      margin-inline-end: 14px;
    }

    .dark-mode-box {
      margin-block-start: 5px;
      span {
        flex-grow: 1;
        margin-inline-start: 7.75px;
      }
    }
    .language-box {
      align-items: center;
      span {
        cursor: pointer;
        margin-inline-start: 8px;
      }
    }
    .acc-settings {
      align-items: center;
      margin-block-end: 12px;
      span {
        cursor: pointer;
        margin-inline-start: 8px;
      }
    }
    .logout-box {
      cursor: pointer;
      align-items: center;
      margin: 12px 0px 20px 12px;
      color: #f56342;
      span {
        margin-inline-start: 8px;
      }
    }
  }

  .account-name {
    .name {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      color: #1e1e1e;
    }
    .job {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: -0.15000000596046448px;
      color: var(--grey-400);
    }
  }
  .form-check {
    margin-inline-end: -7px;
  }
  .form-check-input:checked {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
  }
  .form-check-input {
    cursor: pointer;
    background-color: white;
    border-color: var(--grey-400);
  }
  .form-check-input:focus {
    box-shadow: none;
  }
  .form-check-input:focus {
    --bs-form-switch-bg: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="%238692a6"/%3e%3c/svg%3e');
  }
}

.tabs {
  width: 699px;
}

.nav-item {
  text-align: center;
}

.row > * {
  padding: 0px;
}

aside {
  max-width: 296px;
}

.service-title {
  color: var(--grey-500);
}

.catagory {
  color: var(--grey-400);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.005em;
}

.service-title p {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.005em;
  color: #000000;
  margin-block: 24px;
}

.service-title span i {
  font-size: 24px;
  margin-inline-end: 5.88px;
}

.service-title strong {
  margin-inline-start: 4.22px;
}

.slider {
  margin-block: 40px;
  margin-inline-start: 23px;
  margin-inline-end: 22px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev {
  left: -65px;
}

.carousel-control-next {
  right: -65px;
}

.carousel-control-arrow {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0px 3px 3px 1px #2020200d;

  i {
    font-size: 23px;
    padding: 12px;
  }
}

.carousel-control-arrow.active {
  background-color: white;

  i {
    color: #1dbf73;
  }
}

.carousel-control-arrow.disable {
  background-color: #ffffff66;

  i {
    color: white;
  }
}

.carousel-indicators {
  margin-bottom: 0.25rem;
}

.carousel-indicators [data-bs-target] {
  background-color: white !important;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
}

.carousel-indicators {
  button.active {
    background-color: #1dbf73 !important;
  }
}

/* Description Box */
.description {
  margin-block-end: 48px;

  h3 {
    color: #000000;
    margin-block-end: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.005em;
  }

  p {
    max-width: 896px;
    margin: 0;
    padding: 32px 14px 32px 20px;
    background-color: white;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.005em;
    box-shadow: 0px 3px 40px -5px #20202012;
    border-radius: 15px;
  }
}

/* Services Add-Ons */
.service-addons {
  margin-block-end: 48px;
}

.addons-header {
  margin-block-end: 24px;

  .addons-header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.005em;
  }

  .select-all {
    color: var(--grey-300);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.005em;
    border: none;
    background-color: transparent;

    i {
      margin-inline-end: 7px;
    }
  }
}

.service-addons-body:not(:last-child) {
  margin-block-end: 16px;
}

.addon-card {
  box-shadow: 0px 3px 40px -5px #20202012;
  border-radius: 15px;
  padding: 30px 5px 24px 21px;

  .form-check {
    margin-block-end: 24px;
  }

  label {
    margin-inline-start: 12px;
  }

  .addon-details div {
    background-color: #e9f9f1;
    color: #1dbf73;
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    gap: 3px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.005em;
    margin-inline-end: 9px;
  }
}

